* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  min-height: 100vh;

}


.open-sans-charr {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.header .left-header {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  padding: 15px;
  font-size: small;
}


.header .left-header p {
  padding-top: 5px;
}

.header .left-header p:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  margin-top: 200px;
}

.logodev {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-img {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.search {
  display: flex;
  flex-direction: row;
  border: 1px;
  border-style: groove;
  border-color: rgb(229, 228, 228);
  border-radius: 100px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  max-width: 700px;
  margin-top: 20px;

}

.search .search-input {
  width: 400px;
  border-style: none;
} 

.options {
  display: flex;
  flex-direction: row;
  width: 180px;
  border: 2px;
  border-style: none;
  justify-content: space-between;
}

.aimode {
  display: flex;
  flex-direction: raw;
  align-items: center;
  padding-left: 5px;
  border: 2px;
  width: 100px;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
  font-size: small;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.search-btn {
  margin-right: 10px;
}

.search-btn-input {
  padding: 10px;
  width: 150px;
  border-radius: 8px;
  border-style: none;

  font-family: 'Open Sans';
  font-size: 15px;
  color: rgb(71, 71, 71);
  font-weight: 600;
}

.lucky-btn-input {
  padding: 10px;
  width: 150px;
  border-radius: 8px;
  border-style: none;

  font-family: 'Open Sans';
  font-size: 15px;
  color: rgb(71, 71, 71);
  font-weight: 600;
}

.note {
  color : rgb(67, 67, 67);

  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.note .sin {
  text-decoration: none;
}

.note .tam {
  text-decoration: none;
}

.note .sin:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
}

.note .tam:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer {
  margin-top: auto;
}

.upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 2px rgb(228, 228, 228);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  background-color: rgb(238, 238, 238);
  padding: 12px;
}

.upper-footer p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  color: rgb(42, 42, 42);

  margin-left: 5px;
}

.lower-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-color: black;
  background-color: rgb(238, 238, 238);
  padding: 12px;
}

.lower-footer-left {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.lower-footer-left p {
  padding-right: 25px;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  color: rgb(42, 42, 42);
}

.lower-footer-left p:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}


.lower-footer-right {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.lower-footer-right p {
  padding-left: 25px;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  color: rgb(42, 42, 42);
}

.lower-footer-right p:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}